TransitionPanes:
  .transition-panes#transition-panes
    .transition-pane.current-pane#pane-1-wrapper
      #pane-1
    .transition-pane.next-pane#pane-2-wrapper
      view#pane-2(name='ContainerElement')
